.popup__input {
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .popup__input {
    width: 238px;
  }
}
