.profile {
  width: 69%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 50px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .profile {
    width: 89%;
    flex-direction: column;
    padding: 42px 0 36px;
  }
}
