.profile__profession {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 710px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: 48px;
    max-width: 189px;
  }
}
