.popup__button {
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 358px;
  height: 50px;
  margin: 10px auto 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 768px) {
  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__button:hover {
  opacity: 0.8;
}
