.cards {
  width: 69%;
  display: grid;
  gap: 18px 15px;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-flow: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

@media screen and (max-width: 1269px) {
  .cards {
    width: 89%;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .cards {
    row-gap: 16px;
    grid-template-columns: 282px;
  }
}
