.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 60px;
}

@media screen and (max-width: 426px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
