.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 0 8px;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 710px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 7px;
    margin-left: 46px;
    max-width: 189px;
  }
}
