.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile__image {
    margin: 0 auto 26px;
  }
}
