.cards__like {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../../../images/like.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  border-style: none;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s linear;
}

.cards__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cards__like_active {
  background-image: url("../../../images/likeActive.svg");
  opacity: 1;
}
