.popup-profile__container {
  position: relative;
  width: 430px;
  background-color: white;
  padding: 35px 0 37px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}


@media screen and (max-width: 575px) {
  .popup-profile__container {
    width: 282px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
